.junction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  .compass {
    width: 100px;
  }

  .roads-container {
    position: relative;
    width: 500px;
    height: 500px;

    .road {
      position: absolute;
      background-color: lightgrey;
      border-radius: 15px;

      &.vertical {
        width: 100px;
        height: 100%;
        left: 40%;
      }

      &.horizontal {
        width: 100%;
        height: 100px;
        top: 40%;
      }

      .cars {
        display: flex;
        position: absolute;

        .car {
          width: 50px;
          height: 50px;
          margin: 2px;

          background-size: contain;
          background-repeat: no-repeat;
        }

        &.north-south {
          flex-direction: column;
          top: 0;
          left: 25%;
          margin: 10% 0;

          .car {
            background-image: url("/assets/img/car-front.png");
          }
        }

        &.east-west {
          flex-direction: row;
          right: 0;
          top: 25%;
          margin: 0 10%;

          .car {
            background-image: url("/assets/img/car-side.png");
          }
        }
      }
    }

    .animation {
      position: absolute;
      width: 100%;
      height: 100%;

      .car-crossing {
        position: absolute;
        width: 50px;
        height: 50px;
        background-size: contain;
        background-repeat: no-repeat;

        &.north-south {
          animation: northSouthMove 2s linear;
          background-image: url("/assets/img/car-front.png");
        }

        &.east-west {
          animation: eastWestMove 2s linear;
          background-image: url("/assets/img/car-side.png");
        }
      }
    }
  }

  @keyframes northSouthMove {
    from {
      top: 0;
      left: 45%;
    }
    to {
      top: 100%;
      left: 45%;
    }
  }

  @keyframes eastWestMove {
    from {
      right: 0;
      top: 45%;
    }
    to {
      right: 100%;
      top: 45%;
    }
  }
}
