.junction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  .compass {
    width: 100px;
  }

  .roads-container {
    position: relative;
    width: 500px;
    height: 500px;

    .road {
      position: absolute;
      background-color: lightgrey;
      border-radius: 15px;

      &.vertical {
        width: 100px;
        height: 100%;
        left: 40%;
      }

      &.horizontal {
        width: 100%;
        height: 100px;
        top: 40%;
      }

      .cars {
        display: flex;
        position: absolute;

        .car {
          width: 50px;
          height: 50px;
          margin: 2px;

          background-size: contain;
          background-repeat: no-repeat;
        }

        &.north-south {
          flex-direction: column;
          top: 0;
          left: 25%;
          margin: 10% 0;

          .car {
            background-image: url("/assets/img/car-front.png");
          }
        }

        &.east-west {
          flex-direction: row;
          right: 0;
          top: 25%;
          margin: 0 10%;

          .car {
            background-image: url("/assets/img/car-side.png");
          }
        }
      }
    }
  }
}
